/*Espacio del Inicio*/
body{
    margin: 0;
}
.inicio{
    
    background:linear-gradient(to top,rgba(30,35,38,.8),rgba(30,35,38,1)),url(../img/fdporta.jpg);
    background-size: cover;
    height: 100vh;
    color: #FFFFFF;
    display: flex;
    align-items: center;    
}

.inicio .contenido_banner{

    padding: 20px;
    background-color: #0e191f9c ;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 60px;

}

.inicio .contenido_banner img{

    margin-top: 40px;
    border: 10 px solid #0445a7bb;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido_banner h1{

    margin-top: 40px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inicio .contenido_banner h2{

    font-size: 16px;
    font-weight: bold;
}

.inicio .contenido_banner .redes a{

    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 24px;
    transition: .3s;
}

.inicio .contenido_banner .redes a:hover{

    background-color:  #bd7a0e ;
}

/*colocación de responsive web*/

@media screen and (max-width:980px){

    nav{

        display: none;
    }

    .nav-responsive{
        display: block;
    }

    nav.responsive{

        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }

    nav.responsive ul li{

        border-bottom: 1px solid #FFFFFF;
        padding: 10px 0;        
    }
}

@media screen and (max-width:700px) {
    .sobremi .fila{
        display: block;

    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }

    .skills .fila .col{
        width: 100%;
    }

    .skills .fila .col .barra_skills{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }

    .curriculum .fila .col{
    
        width: 90%;

    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portafolio .galeria{
        display: block;
        width: 100%;
    }

    .portafolio .galeria .proyecto{
        max-width: 100%;
    }

    .portafolio .galeria .proyecto img{
        width: 100%;
    }

    .contacto .fila{
        display: block;
    }

    .contacto .fila .col{
        width: 100%;
    }
}
